.music-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(137, 239, 215);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.black {
  background-color: #000;
}

.music-logo {
  left: -40%;
  z-index: 2;
}

.cd {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.cd01 {
  background-image: url("../../images/cd.png");
}

.cd02 {
  background-image: url("../../images/cd2.png");
}

.cd01:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  margin: auto;
  background-image: url("../../images/eso-circle.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 0 60px rgb(0 0 0 / 40%);
}

.cd02:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  margin: auto;
  background-image: url("../../images/eso-helmet.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: 0 0 60px rgb(0 0 0 / 40%);
}

.animate {
  animation: rotate 2s linear infinite;
  -moz-animation: rotate 2s linear infinite; /* Firefox */
  -webkit-animation: rotate 2s linear infinite; /* Safari and Chrome */
  -o-animation: rotate 2s linear infinite; /* Opera */
}

.music-container .music-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 150px;
  z-index: 5;
  width: 150px;
  font-size: 15px;
  text-align: center;
  color: #000;
  margin: auto;
}

.song-title {
  font-size: 18px;
  font-weight: 900;
}

.control-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .music-logo {
    left: 0;
    width: 20%;
    top: -4%;
  }

  .cd:before {
    width: 100px;
    height: 100px;
  }

  .music-container .music-title {
    bottom: 39%;
  }

  .player_container {
    bottom: 23%;
  }
}
